/* .debug *{
    border: 2px solid blue;
} */
.custom_color_grey {
    color: #767676;
}

.custom_color_blue {
    color: #4093DA;
}

.custom_bgc_grey {
    background-color: #767676;;
}

.custom_bgc_darkblue {
    background-color: #161C3B;
}

.custom_bgc_lightblue {
    background-color: #00439C;
}

/* **************************************************** HEADER */
.header_top_small {
   background-color: black;
}

.header_top_small img {
    max-width: 75px;
}

/* **************************************************** MAIN */

.main_mt {
    margin-top: 100px;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.jumbotron_description {
    padding-top: 300px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.card {
    border: solid 2px blue;
    outline-offset: 2px;
}

/* .debug .cards {
    background-color: antiquewhite;
} */

.banner_description {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;

}

.description_bgc {
    background-color: #1F1F1F;
}

/* **************************************************** FOOTER */

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
}
footer .ps_logo {
    width: 100px;
}

footer .globo_language {
    width: 20px;
}


